<!DOCTYPE html>
<html>
    <head>
        <title>Time Tracking Application</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Fox Wyndrum Time Tracking Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto b4-navbar">
            <% if(!currentUser){ %>
                <li class="nav-item"><a class="nav-link" href="/home">My Time Entries</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
        <%  } else { %>
                <li class="nav-item"><a class="nav-link" href="/home">My Time Entries</a></li>
                <li class="nav-item"><a class="nav-link" href="/home">Signed in as <%= currentUser.username %></a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        <%  } %>
          </ul>
        </div>
      </nav>
    <% if(regularMessage.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <strong><%= regularMessage %></strong> 
    </div>
    <% } %>
    <% if(error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <strong><%= error %></strong> 
        </div>
        <% } %>
        
