<% include partials/header %>
<main role="main">

 
    <section class="jumbotron text-center jumboheight">

        <% if(error.length > 0) { %>
          <div id="alerting" class="alert alert-danger" role="alert">
            <strong><%= error %></strong> 
          </div>
          <% } %>
          <% if(regularMessage.length > 0) { %>
            <div id="alerting" class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong><%= regularMessage %></strong> 
            </div>
            <% } %>

    </section>
    <div class="page-header mainHeading">
      <p>Admin Page - User Control</p>
      
    </div>
    
    <div class="album py-5  bcolor" >
      <div class="container">
  
        <div class="col-md-4">
          <form action="/home/updatepassword?_method=PUT" method="POST">
            <input type="password"  name="oldPassword" class="form-control" placeholder="Old Password" required>
            <input type="password" id="inputPassword" name="newPassword" class="form-control" placeholder="New Password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="New Password" required>
            <p>
              <div class="bothbuttons">
                <button class="btn btn-secondary my-2 fwaaccentcolor">Update</button>
              </div>
            </p>
          </form>
        </div>
      </div>
    </div>
  
  </main>
  <% include partials/footer %>