
<% include partials/header %>

<div class="hero">
<div class="cover-container">
  <% if(regularMessage.length > 0) { %>
    <div id="alerting" class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%= regularMessage %></strong> 
    </div>
    <% } %>
    <main role="main" class=" inner cover">
      <h1 class="cover-heading">Time Management Application</h1>
      <p class="lead">This time management application is designed to easily track time spent on tasks for FWA. Track your hours spent on tasks for various clients, and ensures that time entries are always up to date and ready to bill. </p>
      <% if(!currentUser) { %>
      <p class="lead" id="button-color">
        <a href="/register" class="btn btn-lg btn-secondary button-color">Create Account</a>
        <a href="/login" class="btn btn-lg btn-secondary button-color">Log in</a>
      </p>
      <% } else { %>
      <p class="lead" id="button-color">
        <a href="/home" class="btn btn-lg btn-secondary button-color">View my Time Entries</a>
      </p>
      <% } %>
    </main>

  </div>
</div>
<% include partials/footer %>