<% include partials/header %>

<!-- <h1> John's Time Tracking Application</h1>

<p>Welcome to the Time Tracking Application</p>

<p>Please sign in to see your Time entries, and to enter new time entries.</p>

<p>If you do not have an account yet please create an account.</p>


<h1>Release Notes</h1>
<p>Version 1.1</p>
<p>Added printable format to print each day's time entries </p>
<p>Version 1.0.1</p>
<p>7/6/2018</p>
<p>Now time entries on the home page will be grouped by the day, you can drill into the day,
for better organization.</p>
<p>Version 1.0.0</p>
<p>It is currently not too pretty, but I was not trying to make it pretty, just yet.</p>
<p>In this version, users can create a user login, then store their own Time Entries, which are only visible to the user.</p>
<p>Users can store time entries as long as they like, edit time entries and delete time entries as well.</p>
<p>Next release will include export to DOC/(maybe PDF) and an option to send via email.</p>
<p>Also, as of right now, Time Entries populate in order as they were created, will change at some point. </p> -->

<div class="cover-container">

    <main role="main" class=" inner cover">
      <h1 class="cover-heading">Time Management Application</h1>
      <p class="lead">This time management applicaion is designed to easily track time spent on tasks for FWA. Track your hours spent on tasks for various clients, and ensures that time entries are always up to date and ready to bill. </p>
      <% if(!currentUser) { %>
      <p class="lead" id="button-color">
        <a href="/register" class="btn btn-lg btn-secondary button-color">Create Account</a>
        <a href="/login" class="btn btn-lg btn-secondary button-color">Log in</a>
      </p>
      <% } else { %>
      <p class="lead" id="button-color">
        <a href="/home" class="btn btn-lg btn-secondary button-color">View my Time Entries</a>
      </p>
      <% } %>
    </main>

  </div>

<% include partials/footer %>