<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new Time Entry</h1>
        <div style="width: 30%; margin: 25px auto;">
           <form action="/home" method="POST">
               <div class="form-group">
                   <input class="form-control" type="date" name="date" required>
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="cust" placeholder ="Customer: FOX001">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="ftcn" placeholder ="FTCN: SUP">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="billcode" placeholder ="BILL CODE: BIT">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="job" placeholder ="Job Number">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="agr" placeholder = "AGR">
               </div>
               <div class="form-group">
                   <input class="form-control" type=" time" name="starttime" placeholder ="Start Time: ">
               </div>
               <div class="form-group">
                <input class="form-control" type=" time" name="endtime" placeholder ="End Time: ">
                </div>
               <div class="form-group">
                   <input class="form-control" type="number" name="totaltime" placeholder ="TOTAL TIME: 1 " step="0.01" required> 
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="mco" placeholder ="MCO: Client">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" name="description" placeholder ="Description">
               </div>
               <div class="form-group">
                   <button class="btn btn-lg btn-primary btn-block">Submit Time Entry!</button>
               </div>
            </form> 
            <a href="/home">Go Back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>