.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form {
    display: inline;
}
@media print {
    p {
        color: red !important;
        -webkit-print-color-adjust: exact; 
    }
}